.Tabs
{
  padding: 20px;
  margin: 20px;
  outline: 1px solid gray;
  font-size: 18px;
  width: 75%;
}

.Tabs-body
{
  display: none;
}

.Tabs-body.is-active
{
  display: block;
}

.Tabs-buttons
{
  margin-bottom: 10px;
  display: flex;
}

.Tabs-button
{
  font-size: 14px;
  border: 1px solid black;
  padding: 4px;
  background: none;
  margin-right: 5px;
}

.Tabs-button.is-active
{
  background-color: rgb(236, 233, 233);
  border-bottom: 3px solid blue;
}

.Tabs-bodies
{
  border: 1px solid black;
}